<h6 style="color:White">LOG IN</h6><br />

<form method="POST" action="/login">
   <p style="color:LightGray"> Email: <input type="text" name="email"><p>
   <p style="color:LightGray"> Password: <input type="password" name="password"><p>
   <input type="submit" value="Submit">


</form>