<h5>Fan Profile</h5><br />


<ul>
    <li>Username: <%= @fan.username.capitalize%></li><br />
    <li>Age: <%= @fan.age%></li><br />
    <li>Vip Guest: <%= @fan.vip_guest%></li><br />
    <li>Email: <%= @fan.email%></li><br />
</ul>