

<h5 style="color:#f5f5f5">My Profile</h5><hr><br/>

<i style="color:#1565c0" class="medium material-icons">face</i><br /><br />


<ul style="color:#f5f5f5">
    <li>Username:<%= @fan.username.titleize%></li>
    <li>Age: <%= @fan.age%></li>
    <li>Vip Guest: <% if @fan.vip_guest == true %>
                        <p>Yes</p>
                    <% else %>
                        <p>No</p> 
                    <%end%></li>
    <li>Email: <%= @fan.email%></li>
    <li>
</ul>

<ul>
<% if current_fan.id == @concert.fan_id %>
    <h6 style="color:#f5f5f5" >My Concert(s): <%=@concert.artist%> </h6>
<%end%>
</ul>

<div class="right-align">
<iframe src="https://giphy.com/embed/1wqGaJeJYsZBT0lqRU" width="380" height="170" frameBorder="0" class="giphy-embed" allowFullScreen></iframe><p><a href="https://giphy.com/gifs/nba-justin-bieber-celebrity-1wqGaJeJYsZBT0lqRU">via GIPHY</a></p>
</div>
