

<% if @fan && @fan.errors %>
    <% @fan.errors.full_messages.each do | error | %>
        <p class="red-text"><%= error %></p>
    <% end %>
<% end %>


<h5 style="color:white">Sign Up</h5><hr><br />
    <p style="color:#1565c0">This is the only way you will be able to see all of our cool concerts coming up!</p>
<form style="color:white" method="POST" action="/fans">
    <p>Username: <input style="color:#1565c0" type="text" name="username"></p>
    <p>Email: <input style="color:#1565c0" type="text" name="email"></p>
    <p>Password: <input style="color:#1565c0" type="password" name="password"></p>
    <input type="submit" value="Submit">
</form>

<div class="center">
<iframe src="https://giphy.com/embed/XIqCQx02E1U9W" width="480" height="269" frameBorder="0" class="giphy-embed" allowFullScreen></iframe><p><a href="https://giphy.com/gifs/XIqCQx02E1U9W">via GIPHY</a></p>
</div>