<% if @fan && @fan.errors %>
    <% @fan.errors.full_messages.each do | error | %>
        <p class="red-text"><%= error %></p>
    <% end %>
<% end %>


<h4 style="color:white">Sign up here!</h4>
<form method="POST" action="/fans">
    <p>Username: <input style="color:white" type="text" name="username"></p>
    <p>Email: <input style="color:white" type="text" name="email"></p>
    <p>Password: <input style="color:white" type="password" name="password"></p>
    <input type="submit" value="Submit">
</form>