<h5 class="white-text">You really aren't permitted to edit our concerts but hey I have to include this on my project so let's edit this!</h5>

<form method="POST" action="/concerts/<%=@concert.id%>">
 <input type="hidden" id="hidden" name="_method" value="PATCH">
   <select name="fan_id"> 
      <% @fans.each do | fan |%>
        <option value="<%= fan.id %>"><%= fan.username %></option>
     <% end %>
   </select><br />


<p>Artist:  <input style="color:white" type="text" name="artist"> </p>
<p>Date & Time:  <input style="color:white" type="text" name="date_time"> </p>
<p>Location:  <input style="color:white" type="text" name="location"> </p>
<p>Ticket Price:  <input style="color:white" type="text" name="ticket_price"> </p>
<p>Can I Get Wasted?:  <input style="color:white" type="text" name="alcohol_served"> </p>
<input type="submit" value="Submit">
</form>