
<h5 class="white-text "> Did You Say Concert Season? </h5>
    <p class="flow-text" style="color:white;font-size:14px"> Check out the upcoming concerts below from some of your favorite artists! Concerts will be held virtually but you still have to purchase a ticket. Click on the artist name to view concert details. Ticket purchasing wii be available soon!</p><hr><br />
        <body class="container">
            <% @concert.each_with_index do |concert, index| %>
            <li><a style="color:#1565c0 " href="/concerts/<%=concert.id%>"> <%= "#{index+1}. #{concert.artist} " %> </li><br />
            <%end%>
        </body>




