<h2>Didn't see an artist you like? Create a Concert you would like to attend and we will try to accommodate you!</h2>

<form method="POST" action="/concerts">
<p>Artist:  <input type="text" name="artist"> </p>
<p>Date & Time:  <input type="text" name="date_time"> </p>
<p>Location:  <input type="text" name="location"> </p>
<p>Ticket Price:  <input type="text" name="ticket_price"> </p>
<p>Can I Get Wasted?:  <input type="text" name="alcohol_served"> </p>
<input type="submit" value="Let's Party">
</form>


