<h5 class="white-text ">Didn't see an artist you like? Create a Concert you would like to attend and we will try to accommodate you!</h5>
<div>
<form method="POST" action="/concerts">
<p class="white-text ">Artist:  <input style="color:white" type="text" name="artist"> </p>
<p class="white-text ">Date & Time:  <input style="color:white" type="text" name="date_time"> </p>
<p class="white-text ">Location:  <input style="color:white" type="text" name="location"> </p>
<p class="white-text ">Ticket Price:  <input style="color:white" type="text" name="ticket_price"> </p>
<p class="white-text ">Will there be drinks?:  <input style="color:white"style="color:white" type="checkbox" id="alcohol_served" name="alcohol_served" value="Yes"></p>
<p class="white-text ">Fan ID:  <input style="color:white" type="text" name="fan_id" /> </p>

   <input type="submit" value="Submit">
</form>
</div>


