<br />
<div class="col s3">
<h6 class="white-text"> Welcome to Concert Master! </h6><hr><br />
	<p class="flow-text" style="color:white;font-size:14px"> Lorem ipsum dolor sit amet, his graeci disputando no. Sit odio abhorreant percipitur et, vis melius maiestatis et. Id qui diceret hendrerit. Nominavi imperdiet pertinacia ex eos. Pro te dicam eirmod erroribus, tale fuisset expetenda vis eu.
	Usu amet atqui recusabo ei. Qui graeci possim no. Sed ei porro virtute voluptatibus, vis et unum aperiri blandit, sea in vide feugiat argumentum. At delicata consequuntur quo, vis vivendo mediocrem comprehensam ex. Cu odio mollis fierent ius, sit tollit indoctum ea, ius vocent mandamus maiestatis ut. Option epicuri commune at sed.</p>
          


<div class="col s3">
<a href="/login" target="_blank" class="waves-effect waves-light btn-small" style="background-color:#1565c0;text-color:white"><i class="material-icons right">subdirectory_arrow_right</i>Log In</a>
	

<a href="/fans/signup" target="_blank" class="waves-effect waves-light btn-small" style="background-color:#1565c0;text-color:white"><i class="material-icons right">subdirectory_arrow_right</i>Sign Up</a>
</div><br>

<div class="center">
	<img src="https://images.unsplash.com/photo-1514525253161-7a46d19cd819?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&dl=aditya-chinchure-ZhQCZjr9fHo-unsplash.jpg&w=824" alt="Live Concert"/></div>
 		<div class="right-align">
 		<p style="color:white;font-size:10px">
     		Image by Aditya Chinchure from Unsplash.
		</p>
		</div><br /><br />

<div class="left-align">
<p style="font-size:14px;color:white">Featured Artist of the Week!</p>
<audio style="color:#1565c0" controls src="
https://mail-attachment.googleusercontent.com/attachment/u/1/?ui=2&ik=eb44c49c8f&attid=0.1&permmsgid=msg-f:1680198555726596677&th=175143af32354a45&view=att&disp=safe&realattid=f_kg451jgr0&saddbat=ANGjdJ-0kSgdRl_CB9KCZ7YgmRbdeMa9su00JQX2iMkVpiFeqIUGvoMAzsDw_B68UMG9ribSmhNrd-6-dLFly0thkgqO9LcPBPxPpZRXiObnstahNjINxP1HSyBE-7Dm3Jznc8v-rIkK29gQa_HySq8UE_akug7CHi8jAQLaOM4MJKDJxrqS5LY9Q4QSa7wYVB5OaKbE7G9PRW8xef31XSHkK8y6KjYfAsW6UjmCF_CypTUNzjxb2nOXQ_TJJTH4HdP2gxA_rrlQ3Ff23IJwjKhTRHFXHdpecSILwZGY9gNBu0GiEKm61zMZoLdVVdaQQCJGwIHhIrIvTwyIrZnJZCFvNcyPRp5-puccXHpeTYv5rvbCqcbrkjWi2B4VnVc2oHolmwuUFmiio3Y-SAN51iqTGwS89IKjU6MIKCSSqr7H_70hpcQtuVQFemA-rUH_rXcpEzFVbgWlCFhX_M9jYNhrmqIex3SIapSdOgM1brBSUl6ooqXtazbTBmGWz6kHBzN44EhFjJNEciTDJfWbhS4s1wK4Z7YKi8ZMUvGk1Ih4tx7ebsg-QugSdgCiuwMIiWp_r1oFCIQVA7iwNuNQAToaPsAutYpPQL2XRv5gE-VNdAqNEQB4qJwT3qwUENW5oL32dGCbTOFut6cUFAqihIU0EUEOJKN4dki6gIEvNiIxbLfEXXjP8CVOuJ4FX8M", autoplay="true"></audio><br />

<p style="font-size:10px;color:white">
      Meditation produced by AMG CP
</p>
</div>

