<h5 class="white-text"> Welcome to Concert Master! </h5>
	<p>Your go-to concert management app</p>

<a href="/login" target="_blank">
	<button>Log In</button>

<a href="/fans/signup" target="_blank">
	<button>Sign Up</button><br /><br />


<div class="center">
<img src="https://images.unsplash.com/photo-1514525253161-7a46d19cd819?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&dl=aditya-chinchure-ZhQCZjr9fHo-unsplash.jpg&w=720" alt="Live Concert"/>
 <div class="center">
 <p style="color:white;font-size:12px">
      This photo was captured by Aditya Chinchure.
</p>
</div><br /><br />

<div class="left-align">
<p style="font-size:14px;color:white">Featured Artist of the Week!</p>
<audio controls src="
https://mail-attachment.googleusercontent.com/attachment/u/1/?ui=2&ik=eb44c49c8f&attid=0.1&permmsgid=msg-f:1680198555726596677&th=175143af32354a45&view=att&disp=safe&realattid=f_kg451jgr0&saddbat=ANGjdJ-0kSgdRl_CB9KCZ7YgmRbdeMa9su00JQX2iMkVpiFeqIUGvoMAzsDw_B68UMG9ribSmhNrd-6-dLFly0thkgqO9LcPBPxPpZRXiObnstahNjINxP1HSyBE-7Dm3Jznc8v-rIkK29gQa_HySq8UE_akug7CHi8jAQLaOM4MJKDJxrqS5LY9Q4QSa7wYVB5OaKbE7G9PRW8xef31XSHkK8y6KjYfAsW6UjmCF_CypTUNzjxb2nOXQ_TJJTH4HdP2gxA_rrlQ3Ff23IJwjKhTRHFXHdpecSILwZGY9gNBu0GiEKm61zMZoLdVVdaQQCJGwIHhIrIvTwyIrZnJZCFvNcyPRp5-puccXHpeTYv5rvbCqcbrkjWi2B4VnVc2oHolmwuUFmiio3Y-SAN51iqTGwS89IKjU6MIKCSSqr7H_70hpcQtuVQFemA-rUH_rXcpEzFVbgWlCFhX_M9jYNhrmqIex3SIapSdOgM1brBSUl6ooqXtazbTBmGWz6kHBzN44EhFjJNEciTDJfWbhS4s1wK4Z7YKi8ZMUvGk1Ih4tx7ebsg-QugSdgCiuwMIiWp_r1oFCIQVA7iwNuNQAToaPsAutYpPQL2XRv5gE-VNdAqNEQB4qJwT3qwUENW5oL32dGCbTOFut6cUFAqihIU0EUEOJKN4dki6gIEvNiIxbLfEXXjP8CVOuJ4FX8M", autoplay="true"></audio><br />

<p style="font-size:12px;color:white">
      Meditation produced by AMG CP
</p>