<h4 class="white-text"> Welcome to Corona Concerts! The COVID-19 version of Coachella! I am going to put some really cool stuff here! </h4>

<a href="/login" target="_blank">
	<button>Log In</button>

<a href="/signup" target="_blank">
	<button>Sign Up</button>