<h4 class="white-text"> Welcome to Concert Master! </h4>
	<p>Your go-to concert management app</p>

<a href="/login" target="_blank">
	<button>Log In</button>

<a href="/fans/signup" target="_blank">
	<button>Sign Up</button><br /><br />

<audio controls>
	<source src="Meditation.mp3" type="audio/mpeg">
</audio>